/* Основные настройки */

/* Хз что делает */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {

  background-color: whitesmoke;
  color: #4d4d4d;
  /* 1.6rem размер шрифта /1.25 межстрочный интервал*/
  font:
  /* Что такое rem? rem (Root EM) — это относительная единица измерения в CSS, которая привязана к размеру шрифта самого главного (корневого) элемента на странице — тега <html>. */
  /* padding: 3rem 1.5rem 0 0; */
    1.5rem/1.25 "Consolas",
    times-new-roman;
  /* если пара значений то первое для верха и низа а второе для лева и права */
  max-width: 68rem;
  width: 100%;
}
/* Что точка перед .footer делает? Она указывает браузеру, что стили нужно применить ко всем элементам на странице, у которых в HTML прописан атрибут class="footer". */
footer {

  background: grey;
}
main {
}
h2 {
  /* color: aliceblue; */
}
html {
  font: 100%  / 1.15 sans-serif;
  margin: 0 0 0 0;
}

/* Конец основных настроек */